@import "../../../../styles.scss";
@import '~swiper/swiper-bundle';

.conatiner-wraper-slider{
    background: $bg_fourth;
    padding-top: 86px;
    height: 90vh;
    .container{
        height: 100%;
        .title-wraper{
            position: relative;
            .inside-title-wrap{
                position: absolute;
                z-index: 1;
                top: 10%;
                left: 10%;
                h4{
                    font-family: $Poppins_font_700;
                    font-size: 40px;
                    line-height: 48px;
                    color: $label_col_primary;
                }
                p{
                    font-family: $Poppins_font_400;
                    font-size: 18px;
                    line-height: 32px;
                    color: $gray_color;
                }
            }
            &::before{
                content: "";
                top: -60px;
                left: 3%;
                width: 143px;
                height: 120px;
                position: absolute;
                background-image: url(../../../../assets/imgs/big_quotes.svg);
                background-size: contain; 
                background-repeat: no-repeat;
                background-position: center;
                opacity: 50%;
                z-index: 0;
            }
        }
        .swiper{
            
            height: 100%;
            position: relative;
            .slides{
                height: 100%;
                position: relative;                
                .card-1-testimonial{
                    padding: 32px;
                    background: $background;
                    box-shadow: 7px 10px 32px -1px rgba(0,0,0,0.31);
                    position: absolute;
                    top: 20%;
                    left: 23%;
                    height: max-content;
                    width: 350px !important;
                    border-radius: 16px;
                    margin: 0 !important;
                    &::before{
                        content: "";
                        top: 104px;
                        left: 24px;
                        width: 16px;
                        height: 14px;
                        position: absolute;
                        background-image: url(../../../../assets/imgs/small_quotes.svg);
                        background-size: contain; 
                        background-repeat: no-repeat;
                        background-position: center;
                        opacity: 50%;
                        z-index: 0;
                    }
                    img{
                        margin-bottom: 32px;
                    }
                    p{
                        margin-bottom: 24px;
                        padding-left: 16px;
                    }
                    .profile-wrap{
                        display: flex;
                        align-items: center;
                        gap: 16px;
                        padding-left: 16px;
                        .img-profile{
                            img{
                                margin: 0;
                            }
                        }
                        .name-profile{
                            h6{
                                font-family: $Poppins_font_600;
                                font-size: 18px;
                                line-height: 28px;
                                color: $label_col_primary;
                                margin: 0;
                            }
                            p{
                                font-family: $Poppins_font_400;
                                font-size: 14px;
                                line-height: 24px;
                                color: $gray_color;
                                padding: 0;
                                margin: 0;
                            }
                        }
    
                    }
                }
                .card-2-testimonial{
                    padding: 32px;
                    box-shadow: 7px 10px 32px -1px rgba(0,0,0,0.31);
                    background: $background;
                    position: absolute;
                    top: 5%;
                    left: 53%;
                    height: max-content;
                    width: 445px !important;
                    border-radius: 16px;
                    margin: 0 !important;
                    &::before{
                        content: "";
                        top: 104px;
                        left: 24px;
                        width: 16px;
                        height: 14px;
                        position: absolute;
                        background-image: url(../../../../assets/imgs/small_quotes.svg);
                        background-size: contain; 
                        background-repeat: no-repeat;
                        background-position: center;
                        opacity: 50%;
                        z-index: 0;
                    }
                    img{
                        margin-bottom: 32px;
                    }
                    p{
                        margin-bottom: 24px;
                        padding-left: 16px;
                    }
                    .profile-wrap{
                        display: flex;
                        align-items: center;
                        gap: 16px;
                        padding-left: 16px;
                        .img-profile{
                            img{
                                margin: 0;
                            }
                        }
                        .name-profile{
                            h6{
                                font-family: $Poppins_font_600;
                                font-size: 18px;
                                line-height: 28px;
                                color: $label_col_primary;
                                margin: 0;
                            }
                            p{
                                font-family: $Poppins_font_400;
                                font-size: 14px;
                                line-height: 24px;
                                color: $gray_color;
                                padding: 0;
                                margin: 0;
                            }
                        }
    
                    }
                }
                .card-3-testimonial{
                    padding: 32px;
                    box-shadow: 7px 10px 32px -1px rgba(0,0,0,0.31);
                    background: $background;
                    position: absolute;
                    bottom: 18%;
                    left: 53%;
                    height: max-content;
                    width: 350px !important;
                    border-radius: 16px;
                    margin: 0 !important;
                    &::before{
                        content: "";
                        top: 104px;
                        left: 24px;
                        width: 16px;
                        height: 14px;
                        position: absolute;
                        background-image: url(../../../../assets/imgs/small_quotes.svg);
                        background-size: contain; 
                        background-repeat: no-repeat;
                        background-position: center;
                        opacity: 50%;
                        z-index: 0;
                    }
                    img{
                        margin-bottom: 32px;
                    }
                    p{
                        padding-left: 16px;
                        margin-bottom: 24px;
                    }
                    .profile-wrap{
                        display: flex;
                        align-items: center;
                        gap: 16px;
                        padding-left: 16px;
                        .img-profile{
                            img{
                                margin: 0;
                            }
                        }
                        .name-profile{
                            h6{
                                font-family: $Poppins_font_600;
                                font-size: 18px;
                                line-height: 28px;
                                color: $label_col_primary;
                                margin: 0;
                            }
                            p{
                                font-family: $Poppins_font_400;
                                font-size: 14px;
                                line-height: 24px;
                                color: $gray_color;
                                padding: 0;                           
                                margin: 0;
                            }
                        }
    
                    }
                }
            }
        }
    }
}

.swiper-pagination-bullet{    
    cursor: pointer !important;
    margin: 4px !important;
    padding: 0 !important;
    pointer-events: all !important;
    position: relative !important;
    width: 20px !important;
    height: 8px !important;
    border-radius: 50px !important;
    background-color: $accent_3;
}

.swiper-pagination-bullet-active{
    background: $black_color !important;
    width: 22px !important;
    height: 10px !important;

}
.swiper-pagination-bullet:only-child{
    display: block !important;
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 32px !important;
    left: 0;
    width: 100%;
}