<div class="wraper-person">
    <div class="inside-person">
        <div class="container">
            <div class="col-6">
                <div class="img-wraper">
                    <img [src]="'../../../../../assets/imgs/'+ member.image" alt="">
                </div>
            </div>
            <div class="col-6">
                <div class="text-wraper">
                    <h5 class="title"> {{member.position}}</h5>
                    <div class="wraper-para">
                        <p class="desc">
                            {{member.description}}
                        </p>
                        <p class="desc">
                            {{member.description}}
                        </p>
                    </div>
                    <div class="socials-wraper">
                        <a href="">
                            <div class="wraper-social">
                                <img src="../../../../../assets/imgs/twttr.svg" alt="">
                            </div>
                        </a>
                        <a href="">
                            <div class="wraper-social">
                                <img src="../../../../../assets/imgs/fb.svg" alt="">
                            </div>
                        </a>
                        <a href="">
                            <div class="wraper-social">
                                <img src="../../../../../assets/imgs/insta.svg" alt="">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>