<div class="wraper-info-single" >
    <div class="banner-single">
        <div class="col-wraper-single">
            <div class="container" >
                <div class="col-6">
                    <h2 class="title">{{ blog.bigTitle }}</h2>
                    <p>{{ blog.shortDesc }}</p>
                    <p class="bold-para">{{ blog.author }}</p>
                </div>
                <div class="col-6">
                    <div class="img-wrap-col">
                        <img [src]="'../../../../../assets/imgs/' + blog.imgBanner" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>