
<div *ngIf="isAboutPage()">
    <app-faq></app-faq>
  </div>
<div class="wrap-container">
    <div class="container">
        <div class="wraper-cols">
            <div class="col-4">
                <img class="logo-footer" src="../../../assets/imgs/image 4.png" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non leo at justo posuere luctus. Maecenas id mauris sit.</p>
                <div class="wrap-imgs">
                    <img src="../../../assets/imgs/screenshot-2020-09-07-at-13-19-31_orig-removebg-preview 1 (1).png" alt="">
                </div>
                <div class="social-wrap">
                    <ul>
                        <li> 
                           <a href=""><img class="social-img" src="../../../assets/imgs/fb.svg" alt=""></a>
                        </li>
                        <li>
                            <a href=""><img class="social-img" src="../../../assets/imgs/twttr.svg" alt=""></a> 
                        </li>
                        <li>
                            <a href=""><img class="social-img" src="../../../assets/imgs/twttr.svg" alt=""></a> 
                        </li>
                        <li>
                            <a href=""><img class="social-img" src="../../../assets/imgs/insta.svg" alt=""></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-4">
                <h4>Reach us</h4>
                <div class="wrap-reach">
                    <img src="../../../assets/imgs/Message.png" alt=""> 
                    <div class="title-paragraph-box">
                        <p class="bold-p">Support:</p>
                        <p>hello@landify.co</p>
                    </div>
                </div>
                <div class="wrap-reach">
                    <img src="../../../assets/imgs/Mobile.png" alt=""> 
                    <div class="title-paragraph-box">
                        <p class="bold-p">General:</p>
                        <p>+91 98765 43210</p>
                    </div>
                </div>
                <div class="wrap-reach">
                    <img src="../../../assets/imgs/Location.png" alt=""> 
                    <div class="title-paragraph-box">
                        <p class="bold-p">USA Office:</p>
                        <p>772 Lyonwood Ave Walnut, CA 91789</p>
                    </div>
                </div>
                <div class="wrap-reach">
                    <img src="../../../assets/imgs/Location.png" alt=""> 
                    <div class="title-paragraph-box">
                        <p class="bold-p">Australia Office:</p>
                        <p>772 Lyonwood Ave Walnut, CA 91789</p>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <h4>Blog</h4>
                <div class="blog-items">
                    <ul>
                        <li>
                            <a href="">Blog Item 1</a>
                        </li>
                        <li>
                            <a href="">Blog Item 2</a>
                        </li>
                        <li>
                            <a href="">Blog Item 3</a>
                        </li>
                        <li>
                            <a href="">Blog Item 4</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-2">
                <h4>Menu</h4>
                <div class="menu-footer">
                    <ul>
                        <li>
                            <a [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active-link" routerLink="/">Home</a>
                        </li>
                        <li> 
                            <a routerLinkActive="active-link" routerLink="/blog">Blogs</a>
                        </li>
                        <li>
                            <a routerLinkActive="active-link" routerLink="/about-us">About Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>