<div class="team-wrap">
    <div class="inside-team">
        <div class="container">
            <h5 class="title">Meet Our Team Leaders</h5>
            <div class="wraper-people">
                <div class="person-wrap" *ngFor="let member of members">
                    <a href="">
                        <img [src]="'../../../../assets/imgs/' + member.image" alt="{{ member.name }}">
                        <h6 class="name">{{ member.name }}</h6>
                        <p class="position">{{ member.position }}</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
