<nav class="navbar fixed-top navbar-light bg-light">
    <div class="container custom-container">
      <div class="wraper-logo">
        <img src="../../../assets/imgs/image 4.png" alt="">
      </div>
      <div class="nav-links">
        <ul class="nav-menu">
          <li><a [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active-link" routerLink="/">Home</a></li>
          <li><a routerLinkActive="active-link" routerLink="/about-us">About Us</a></li>
          <li><a routerLinkActive="active-link" routerLink="/blog">Blog</a></li>
        </ul>
        <div class="wrap-btn-nav">
          <button class="green-btn">Book a Demo</button>
        </div>
      </div>
    </div>
  </nav>
  