 <div class="wrap-brands">
    <h3>Trusted By over 150,000 Companies including</h3>
    <div class="container">
        <img src="../../../../assets/imgs/bloomberg.svg" alt="">
        <img src="../../../../assets/imgs/stanford-university.svg" alt="">
        <img src="../../../../assets/imgs/University_of_Cambridge.svg" alt="">
        <img src="../../../../assets/imgs/microsoft.svg" alt="">
        <img src="../../../../assets/imgs/eth-zurich.svg" alt="">
        <img src="../../../../assets/imgs/fix.svg" alt="">
        <img src="../../../../assets/imgs/google.svg" alt="">
        <img src="../../../../assets/imgs/opengov.svg" alt="">
        <img src="../../../../assets/imgs/Allegro.svg" alt="">
        <img src="../../../../assets/imgs/amazon.svg" alt="">
        <img src="../../../../assets/imgs/circleup.svg" alt="">
        <img src="../../../../assets/imgs/google.svg" alt="">
    </div>
 </div>