<div class="wraper-quote">
    <div class="inside-quote">
        <div class="container">
            <div class="col-8">
                <div class="inside-desc">
                    <div class="wraper-text">
                        <p class="para">
                            We had an incredible experience working with Landify and were impressed they made such a big difference in only three weeks. Our team is so grateful for the wonderful improvements they made and their ability to get familiar with the product concept so quickly. It acted as a catalyst to take our design to the next level and get more eyes on our product.
                        </p>
                    </div>
                    <div class="wraper-positon">
                        <h5 class="title"> {{member.name}}</h5>
                        <p class="job">{{member.position}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>