<div class="wraper-contact">
    <div class="inside-con">
        <div class="container">
            <div class="col-6">
                <div class="text-wrap">
                    <h6 class="title">
                        Become a Partner
                    </h6>
                    <p class="para">
                        Used and supported in over 178 countries around the globe.
                        We’ll work with you to open more doors and close more sales across all verticals.
                    </p>
                </div>
            </div>
            <div class="col-6" >
                <div class="wraper-forms">
                    <div class="wraper-con-form">
                        <div class="form-con">
                            <form class="form-wraper" [formGroup]="form">
                                <div class="form-group">
                                    <div class="wrap">
                                        <label class="label-form-input" for="name">Name:</label>
                                        <input type="text" name="name" placeholder="enter your name" class="input-form"
                                        formControlName="name">
                                        <div *ngIf="name?.touched && name?.invalid" class="alert alert-danger">Name is required.</div>
                                    </div>
                                    <div class="wrap">
                                        <label class="label-form-input" for="name">Surname:</label>
                                        <input type="text" name="surname" placeholder="enter your surname" class="input-form" 
                                        formControlName="surname">
                                        <div *ngIf="surname?.touched && surname?.invalid" class="alert alert-danger">Surname is required.</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="wrap">
                                        <label class="label-form-input" for="name">Email:</label>
                                        <input type="text" name="email" placeholder="enter your email" class="input-form" 
                                        formControlName="email">
                                        <div *ngIf="email?.touched && email?.invalid" class="alert alert-danger">Email is required.</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="wrap">
                                        <label class="label-form-input" for="name">Contact number:</label>
                                        <input type="text" name="number" placeholder="enter your number" class="input-form" 
                                        formControlName="number">
                                        <div *ngIf="number?.touched && number?.invalid" class="alert alert-danger">Number is required.</div>
                                    </div>
                                    <div class="wrap">
                                        <label class="label-form-input" for="name">Your device Count:</label>
                                        <input type="text" name="device" placeholder="select" class="input-form" 
                                        formControlName="device">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="wrap">
                                        <label class="label-form-input" for="name">Your Country:</label>
                                        <input type="text" name="country" placeholder="enter your country" class="input-form" 
                                        formControlName="country">
                                    </div>
                                </div>
                                <div class="wrap-btn">
                                    <button class="blue-btn"
                                    (click)="onSubmit(); showToast();"
                                    [disabled]="isFormEmptyOrInvalid()">Apply</button>    
                                </div>
                                <div class="toast" [class.show]="showingToast">
                                    An email has been sent to your account.
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>