<!-- <p class="font_p">homepage works! alo</p>
<button class="blue-btn">Book a Demo</button>
<br>
<br>
<br>
<div class="box-wrap-radio">
    <input type="radio" id="option1" name="options" value="option1" class="radio-btn">
    <label for="option1" class="label-radio">Option 1</label>
</div>
<br>
<br> -->
<!-- <div class="form-group">
    <div class="wrap">
        <label class="label-form-input" for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="Enter your name" class="input-form">
    </div>
    <div class="wrap">
        <label class="label-form-input" for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="Enter your name" class="input-form">
    </div>
  </div> -->
<!-- checkbox -->
<!-- <div class="checkbox-wrap">
    <label class="checkbox bounce">
      <input type="checkbox" >
      <svg viewBox="0 0 21 21">
          <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
      </svg>
      eror
  </label>
    <label class="checkbox bounce">
      <input type="checkbox" >
      <svg viewBox="0 0 21 21">
          <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
      </svg>
      eror
  </label>
  <label class="checkbox bounce">
    <input type="checkbox" >
    <svg viewBox="0 0 21 21">
        <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
    </svg>
    <span class="span-label-check">eror</span>
</label>
</div> -->
<app-header></app-header>
<app-footer></app-footer>