<div class="wraper-story">
    <div class="inside-story">
        <div class="container">
            <div class="col-6">
                <h4 class="title">Our story</h4>
                <p class="para">Our FirstWave support engineers are highly skilled and experienced in NMIS, Open-AudIT and all of our commercial products and helped customers from Telcos, MSP, enterprise organisations.</p>
                <p class="para">We work closely with you during implementation and rollout, as well as post delivery of our solutions. as well as post delivery of our solutions.</p>
            </div>
            <div class="col-6">
                <div class="img-wraper">
                    <img src="../../../../assets/imgs/story1.svg" alt="">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="wraper-content">
                <p class="content">
                    Our FirstWave support engineers are highly skilled and experienced in NMIS, Open-AudIT and all of our commercial products and helped customers from Telcos, MSP, enterprise organisations.Our FirstWave support engineers are highly skilled and experienced in NMIS, Open-AudIT and all of our commercial products and helped customers from Telcos, MSP, enterprise organisations.. 
                    <p class="content">
                    Our FirstWave support engineers are highly skilled and experienced in NMIS, Open-AudIT and all of our commercial products and helped customers from Telcos, MSP, enterprise organisations.
                    </p>
                    <p class="content">
                    Our FirstWave support engineers are highly skilled and experienced in NMIS, Open-AudIT and all of our commercial products and helped customers from Telcos, MSP, enterprise organisations.Our FirstWave support engineers are highly skilled and experienced in NMIS, Open-AudIT and all of our commercial products and helped customers from Telcos, MSP, enterprise organisations.Our FirstWave support engineers are highly skilled and experienced in NMIS, Open-AudIT and all of our commercial products and helped customers from Telcos, MSP, enterprise organisations. 
                    </p>
                    <p class="content">
                    Our FirstWave support engineers are highly skilled and experienced in NMIS, Open-AudIT and all of our commercial products and helped customers from Telcos, MSP, enterprise organisations.
                    </p>
                    <p class="content">
                    We’re tired with recruiting and we know it can be done better. We’re starting with juniors and tech.
                </p>
            </div>
        </div>
    </div>
</div>