<div class="wraper-banner">
    <div class="container">
        <div class="inside-container-wrap">
            <div class="col-6">
                <div class="text-banner">
                    <h4>Maximize Your IT Investment</h4>
                    <p>We will help you to audit, manage, automate and secure your entire business. <b class="bold-p">Schedule a demo with our specialists.</b></p>
                    <div class="box-wrap-radio">
                        <div class="radio-1" *ngFor="let demo of demoArr">
                          <input type="radio" id="{{demo.value}}" 
                          name="options" [value]="demo.value" 
                          class="radio-btn" [(ngModel)]="selectedDemo" 
                          (click)="updateChecked(demo.value)">
                          <label for="{{demo.value}}" class="label-radio">{{demo.label}}</label>
                        </div>
                      </div>
                      <button 
                      [ngClass]="selectedDemo === 'Cybersecurity' ? 'blue-btn' : 'green-btn'"
                       (click)="openModal()" >Book {{selectedDemo}} a Demo</button>    
                </div>
            </div>
            <div class="col-6">
                <div class="img-wraper-banner">
                    <img class="img-banner" src="../../../../assets/imgs/banner.svg" alt="">
                </div>
            </div>
        </div>
    </div>
    <app-modal [isOpen]="modalOpen"
    (closeModal)="modalOpen = false"
    (demoChange)="onDemoChange($event)" 
    [selectedDemo]="selectedDemo" 
    [demoArr]="demoArr"></app-modal>

</div>