<div class="wrap-banner-blog">
    <div class="isnide-blog-wrap">
        <div class="container">
            <div class="col-6">
                <swiper
                class="swiper"
                [config]="config"
                (slideChange)="onSlideChange2()"
                > 
                <div class="slides">
                    <h5>Resource Hub</h5>
                    <div class="wraper-inside-slide">
                        <img src="../../../../assets/imgs/tick-banner.svg">
                        <p class="para-tick">Read the latest insights from Opmantek engineering about Open-AudIT.</p>
                    </div>
                    <div class="wraper-inside-slide">
                        <img src="../../../../assets/imgs/tick-banner.svg">
                        <p class="para-tick">Network Management Information System (NMIS) and the Opmantek suite of products.</p>
                    </div>
                    <div class="wraper-inside-slide">
                        <img src="../../../../assets/imgs/tick-banner.svg">
                        <p class="para-tick">Share your results with potential employers to display your strengths and unique fit.</p>
                    </div>
                </div>
                <div class="slides">
                    <h5>Resource Hub12121212</h5>
                    <div class="wraper-inside-slide">
                        <img src="../../../../assets/imgs/tick-banner.svg">
                        <p class="para-tick">Read the latest insights from Opmantek engineering about Open-AudIT.</p>
                    </div>
                    <div class="wraper-inside-slide">
                        <img src="../../../../assets/imgs/tick-banner.svg">
                        <p class="para-tick">Network Management Information System (NMIS) and the Opmantek suite of products.</p>
                    </div>
                    <div class="wraper-inside-slide">
                        <img src="../../../../assets/imgs/tick-banner.svg">
                        <p class="para-tick">Share your results with potential employers to display your strengths and unique fit.</p>
                    </div>
                </div>
                <div class="swiper-button-next">
                    <img src="../../../../assets/imgs/right.svg" >
                </div>
                <div class="swiper-button-prev">
                    <img src="../../../../assets/imgs/left.svg" >
                </div>
                </swiper>
            </div>
            <div class="col-6">
                <div class="wrap-card">
                    <div class="card-custom">
                        <img src="../../../../assets/imgs/bg-big-blog.svg" >
                        <div class="text-wrap">
                            <h6>Personality Assessment</h6>
                            <p>Understand yourself well with specific insights into your personality and character.</p>
                            <div class="wrap-link-view">
                                <a href="">View More
                                    <img src="../../../../assets/imgs/arrow-link.svg" >
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>