<div class="info-section">
    <div class="wraper-info">
        <div class="container">
            <div class="col-8">
                <div class="wraper-inside-info">
                    <h5>Is the Log4Shell or Log4J vulnerability an issue for Opmantek?</h5>
                    <p>No. Opmantek products do not use Java or Log4J, see more details here: <b class="blue-text">Opmantek Products and Apache Log4J Vulnerability.</b></p>
                </div>
                <div class="wraper-inside-info">
                    <h5>What is the Log4Shell Vulnerability? </h5>
                    <p>The Log4Shell is a zero-day vulnerability in Log4J, which allows attackers to execute arbitrary Java code on the remote computers, including accessing sensitive information.
                          The CVSS score is 10, the highest possible score.
                          You can read more details here: <b class="blue-text">Log4Shell – Wikipedia.</b></p>
                </div>
                <div class="wraper-inside-info">
                    <h5>What is Apache Log4J?</h5>
                    <p>Apache Log4J is a popular library used by many products written in Java.  It provides a consistent way for applications to log messages including information, debug, errors, etc.  It has become the primary way Java applications do logging and is widely used.</p>
                </div>
                <div class="wraper-inside-info">
                    <h5>How can Opmantek help you find computers that are using Log4J?</h5>
                    <p>Log4J is a Java library which means that there are files installed onto the computer which Java loads when it runs the program.  You can search for these files using Linux commands and determine if the files exist on the server.</p>
                </div>
            </div>
        </div>
    </div>
</div>