<div class="hero-wrap">
    <div class="inside-hero">
        <div class="container">
            <div class="col-6">
                <h6 class="title">About Us</h6>
                <p class="sub-title">Who are we? Opmantek is a team of talented individuals working together to make software people love.</p>
                <p class="para">We develop multi-award winning enterprise-class software that helps IT teams audit IT environments.</p>
                <div class="wraper-btn">
                    <button class="blue-btn" (click)="openModal1()">Contact Us</button>
                    <button class="green-btn" (click)="openModal()">Book a demo</button>
                </div>
            </div>
            <div class="col-6">
                <div class="img-wrap">
                    <img src="../../../../assets/imgs/hero-about.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</div> 
<app-modal  [isOpen]="modalOpen"
(closeModal)="modalOpen = false"
(demoChange)="onDemoChange($event)" 
[selectedDemo]="selectedDemo" 
[demoArr]="demoArr"></app-modal>

<app-modal-contact [isOpen]="modalOpen1"
(closeModal)="modalOpen1 = false"></app-modal-contact>